body {
  /* light */
  /*background-color: #4b6a00;*/
  background-color: rgb(214, 151, 3);
  /* dark */
  /*background-color: #1f1f1f; */
}

header {
  background-color: rgb(214, 151, 3);
  color: #1c20ff;
  padding: 20px;
  text-align: center;
  font-weight: 100;
}

nav {
  background-color: rgb(214, 151, 3);
  color: #050794;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
  color: #1c20ff;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 100;
}

section {
  padding: 40px;
  text-align: center;
}

h1 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba#1c20ff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

p {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  
}

footer {
  background-color: rgb(214, 151, 3);
  color: #1c20ff;
  padding: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  text-decoration: underline;
  color: red;
}
